version: "3"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile.apache
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        ports:
            - "8000:80"
            - "5173:5173"
        depends_on:
            - redis
        networks:
            - laravel

    # db mysql
    db:
        image: mysql:8.0
        platform: linux/x86_64
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-sac}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-sac}
            MYSQL_PASSWORD: ${DB_PASSWORD:-sac}
            MYSQL_USER: ${DB_USERNAME:-sac}
        volumes:
            - ./.docker/mysql/dbdata:/var/lib/mysql
        ports:
            - "3300:3306"
        networks:
            - laravel

    # PHPMyAdmin
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        platform: linux/x86_64
        restart: unless-stopped
        ports:
            - "8080:80"
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
            PMA_USER: ${DB_USERNAME:-sac}
            PMA_PASSWORD: ${DB_PASSWORD:-sac}
        networks:
            - laravel

    # redis
    redis:
        image: redis:latest
        networks:
            - laravel

networks:
    laravel:
        driver: bridge
